
# Admin API ignores
admin-api/logs
admin-api/*.log
admin-api/node_modules/**
admin-api/dist
admin-api/dist-ssr
admin-api/*.local

# Admin Panel ignores
admin-panel/logs
admin-panel/*.log
admin-panel/node_modules/**
admin-panel/dist
admin-panel/dist-ssr
admin-panel/*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
node_modules
